
/*Fonts*/ 

.Montserrat {
	font-family: 'Montserrat', sans-serif; 
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("../img/overlayback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 100%;
  	height: auto;
}

/*****   #home-page <main> section   *******/

#home-page {
	border: 10px solid rgba(33%, 27%, 27%, .17);
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(33%, 27%, 27%, .1);
}

#designedByMe {
	position: absolute;
	bottom: .1vw;
	left: 1vw;
}


/*********   Navbar   *********/

.navbar-nav {
	padding-top: 1.5rem;
}

.nav-item {
	border-radius: 29px;
	width: 15%;
	background-color: rgba(33%, 27%, 27%, .17);
	/*filter: brightness(1%);*/
	text-align: center;
	transition: all .3s ease;
}

.nav-item:hover {
	background-color: rgba(15%, 8%, 8%, .22); 
}


a.nav-link {
	color: #F5EAEA;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 2vw;
	letter-spacing: 2px;
	padding:0px;	
	word-wrap: break-word;
}

.navbar-toggler-icon {
	background-color: rgba(45%, 30%, 30%, .17);
	font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
	background-color: rgba(33%, 27%, 27%, .17);
	font-family: 'Montserrat', sans-serif;
}

.fa-bars {
	color: #F5EAEA;
}

.mystyle {
	background-color: black;
}



/********    Hero Section    ********/

section.hero-section {
	text-align: center;
	padding-top: 9vw;
	z-index: 300;
}

.hero-section h3.Montserrat {
	color: rgba(33%, 27%, 27%, .3);
	margin-bottom: 1vw;
	font-size: 3vw;
}

.hero-section .img-responsive {
	height: 12vw;
	width: 17vw;
}

#myname3 {
	opacity: .49;
}

/** Arrow SVG **/
.arrow {
	height: 12vw;
	width: 17vw; 
	transition: all .6s ease;
}

.st2 {
	transition: all .6s ease;
}

.st2:hover {
	opacity: .5;
	cursor: pointer;
}

.arrow:hover .st0 {
	transform: translateY(20px);
	transition: all .6s ease;
	border: 3px solid red;
}

.arrow:hover .st1 {
	fill: black;
}

.arrow:hover .st2, .st0{
	transform: scale(1.3) translateX(-135px);
	transition: all 2s ease;
}

/********/

/*gives gradient background effect to ? */
.navbar-nav .nav-item:nth-child(1){
    /*min-height: 100vh;*/
    background: linear-gradient(307deg, rgba(33%, 27%, 27%, .17), rgba(69, 84, 84, .2), 
    	rgba(84, 69, 84, .8));
    background-size: 400%;
    animation: backgradient 3s ease infinite;
}

    @keyframes backgradient {
   0%{background-position:35% 0%;}
   50%{background-position:66% 100%;}
   100%{background-position:35% 0%;}
}

.navbar-nav .nav-item:nth-child(1) a {
	transition: all .5s ease
}

.navbar-nav .nav-item:nth-child(1):hover a {
	transform: scale(1.1);
	color: black;
	opacity: .5;
}



/*****   Page 2   *****/

#page-2 {
	/*border: 10px solid rgba(33%, 27%, 27%, .17);*/
	position: fixed;
	height: 100%;
	width: 100%;
	/*background-color: rgba(33%, 27%, 27%, .2);*/
	display: none;
}

#page-2 .col-md-5 {
	/*border: 1px solid black;*/
	height: 22vw;
	justify-content: center;
	margin: 1vw;
	font-size: 5vw;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	background-color: rgba(33%, 27%, 27%, .17);
	transition: all .5s ease-in !important;
	cursor: pointer;
	border-radius: 5px;
}

#page-2 .col-md-5:hover {
	background-color: rgba(33%, 27%, 27%, .5);
} 



.display-block {
	display: block!important;
}

.display-none {
	display: none;
}

.opacity-0 {
	opacity: 0;
}

.fa-times-circle {
	color: #fff;
	position: relative;
	left: 1vw;
	margin-top: 1vw;
	position: absolute;
	transition: all .3s ease-in;
	z-index: 1000;
}

.fa-times-circle:hover {
	color: rgba(33%, 27%, 27%, .8);
	cursor: pointer;
}


/**** Web Development Page ****/

#web-dev-page {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(56, 49, 49, .73);
	display: none;
}

/*#myCarousel {
	height: 100%;
	position: fixed;
	width: 100%;
}*/


.carousel-inner {
	position: fixed!important;
	/*border: 3px solid pink;*/
	bottom: 5px;
	left: 0px;
	/*min-height: 90%;*/
	
}

.carousel-item {
	/*border: 2px solid yellow;*/
}

.carousel-item iframe {
	position: relative;
	top: 3vw;
	bottom: 0px;
	height: 600px;
	border: none;
	-ms-zoom: 0.65;
    transform: scale(.77);
    transform-origin: 20 0;
    /*border: 3px solid yellow;*/
}

/*the ordered list*/
.carousel-indicators {
  position: relative;
  top: 30px;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  position: relative;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 100px;
  height: 60px;
  margin-right: 5px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  /*border: 2px solid white;*/
  /*border-radius: 10px;*/
     -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.carousel-indicators li::before {
  position: absolute;
  top: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

.carousel-indicators li::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 10px;
  content: "";
}

#img-1 {
	background-image: url("../img/nancy-logo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-2 {
	background-image: url("../img/sf-dogs.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-3 {
	background-image: url("../img/sep.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-4 {
	background-image: url("../img/newtree.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-5 {
	background-image: url("../img/movies.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-6 {
	background-image: url("../img/nasa.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-7 {
	background-image: url("../img/todo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#img-8 {
	background-image: url("../img/books.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}



/**** Art Page ****/

#artPage {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(250, 223, 249, .75);
}

/*col-md-10*/
.test {
	margin: auto;
}

#artPage .row {
	height: 100%;
}

#artPage .container {
	height: 100%;
}

/*button*/
.artSelector {
	width: 4.3vw;
	height: 4.3vw;
	/*padding:30px;*/
	border-radius: 50%;
	border: 2px solid #fff;
	background-size: contain;
	vertical-align: top;
}

.artPiece {
	height: 35vw;
	width: 16.5vw;
	background-size: auto;
	border-radius: 70px;
	transition: all .6s ease;
}

.transitionArt {
	transform: scale(4.5,1.3);
	transform-origin: center left;
	border-radius: 10px;
}

.artHeader {
	margin-top: 23%;
	color: #fff;
	font-weight: 500;
	font-size: 4vw;
}

.backButton {
	width: 4.8vw;
	height: 4.8vw; 
	position: absolute;
	background-color: grey;
	color: #fff;
	opacity: .7;
	border-radius: 50%;
	text-align: center;
	padding-top: 15px;
	top: 10px;
}

#artList {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	position: relative;
}
















