
/*Fonts*/ 

.Montserrat {
	font-family: 'Montserrat', sans-serif; 
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("../img/overlayback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	min-height: 100%;

	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	

}

#overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 252, 252, .27);
	position: fixed;
	
}


/***** Navbar *****/

.navbar-nav {
	padding-top: 1.5rem;
}

.nav-item {
	border-radius: 29px;
	width: 15%;
	background-color: rgba(33%, 27%, 27%, .17);
	/*filter: brightness(1%);*/
	text-align: center;
	transition: all .3s ease;
}

.nav-item:hover {
	background-color: rgba(15%, 8%, 8%, .22); 
}


a.nav-link {
	color: #F5EAEA;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 2vw;
	letter-spacing: 2px;
	padding:0px;	
	word-wrap: break-word;
}

.navbar-toggler-icon {
	background-color: rgba(45%, 30%, 30%, .17);
	font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
	background-color: rgba(33%, 27%, 27%, .17);
	font-family: 'Montserrat', sans-serif;
}

.fa-bars {
	color: #F5EAEA;
}

.mystyle {
	background-color: black;
}



/***** Hero Section *****/

.hero-section {
	text-align: center;
	padding-top: 8vw;
	height: 100%;
	z-index: 300;
	/*position: relative;*/
}

#home-card {
	height: 100%;
	min-height: 100%;
	position: relative;
}

.lower-box {
	border: 2px solid black;
	height: 3.2vw;
	/*width: 100%;*/
	position: absolute;
	bottom: 0px;
	
}

.box {
	height: 100%;
	background-color: rgba(33%, 27%, 27%, .17);
	width: 40%;
	display: inline-block;
	position: relative;
	top: 30%; 
	margin: 5px;
	margin-top: 0px;
}

#designedByMe {
	position: absolute;
	bottom: .1vw;
	left: 1vw;
}

.hero-section h1.Montserrat {
	font-size: 8vw;
	color: rgb(93, 95, 98);
}

.hero-section h3.Montserrat {
	font-size: 3vw;
	color: rgba(33%, 27%, 27%, .3);

}

.hero-section .img-responsive {
	height: 12vw;
	width: 17vw;
}

#myname3 {
	opacity: .49;
}

/** Arrow SVG **/
.arrow {
	height: 12vw;
	width: 17vw; 
	transition: all 2s ease;
}

.st2 {
	transition: all 1s ease;
}

.st2:hover {
	opacity: .8;
	cursor: pointer;
}

.arrow:hover .st0 {
	transform: translateY(20px);
	transition: all 2s ease;
	border: 3px solid red;
}

/********/

/*gives gradient background effect to ? */
.navbar-nav .nav-item:nth-child(1){
    /*min-height: 100vh;*/
    background: linear-gradient(307deg, rgba(33%, 27%, 27%, .17), rgba(69, 84, 84, .2), 
    	rgba(84, 69, 84, .8));
    background-size: 400%;
    animation: backgradient 3s ease infinite;
}

    @keyframes backgradient {
   0%{background-position:35% 0%;}
   50%{background-position:66% 100%;}
   100%{background-position:35% 0%;}
}

.navbar-nav .nav-item:nth-child(1) a {
	transition: all .5s ease
}

.navbar-nav .nav-item:nth-child(1):hover a {
	transform: scale(1.1);
	color: black;
	opacity: .5;
}










