
/*Fonts*/ 

.Montserrat {
	font-family: 'Montserrat', sans-serif; 
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-image: url("../img/overlayback.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 100%;
  	height: auto;
}

/*****   #home-page <main> section   *******/

#home-page {
	border: 10px solid rgba(33%, 27%, 27%, .17);
	position: fixed;
	height: 100%;
	width: 100%;
	/*background-color: rgba(33%, 27%, 27%, .0);*/
}

#designedByMe {
	position: absolute;
	bottom: .1vw;
	left: 1vw;
}


/*********   Navbar   *********/

.navbar-nav {
	padding-top: 1.5rem;
}

.nav-item {
	border-radius: 29px;
	width: 15%;
	background-color: rgba(33%, 27%, 27%, .17);
	/*filter: brightness(1%);*/
	text-align: center;
	transition: all .3s ease;
}

.nav-item:hover {
	background-color: rgba(15%, 8%, 8%, .22); 
}


a.nav-link {
	color: #F5EAEA;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 2vw;
	letter-spacing: 2px;
	padding:0px;	
	word-wrap: break-word;
}

.navbar-toggler-icon {
	background-color: rgba(45%, 30%, 30%, .17);
	font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
	background-color: rgba(33%, 27%, 27%, .17);
	font-family: 'Montserrat', sans-serif;
}

.fa-bars {
	color: #F5EAEA;
}

.mystyle {
	background-color: black;
}



/********    Hero Section    ********/

section.hero-section {
	text-align: center;
	padding-top: 9vw;
	z-index: 300;
}

.hero-section h3.Montserrat {
	color: rgba(33%, 27%, 27%, .3);
	margin-bottom: 1vw;
	font-size: 3vw;
}

.hero-section .img-responsive {
	height: 12vw;
	width: 17vw;
}

#myname3 {
	opacity: .49;
}

/** Arrow SVG **/
.arrow {
	height: 12vw;
	width: 17vw; 
	transition: all 2s ease;
}

.st2 {
	transition: all 1s ease;
}

.st2:hover {
	opacity: .8;
	cursor: pointer;
}

.arrow:hover .st0 {
	transform: translateY(20px);
	transition: all 2s ease;
	border: 3px solid red;
}

/********/

/*gives gradient background effect to ? */
.navbar-nav .nav-item:nth-child(1){
    /*min-height: 100vh;*/
    background: linear-gradient(307deg, rgba(33%, 27%, 27%, .17), rgba(69, 84, 84, .2), 
    	rgba(84, 69, 84, .8));
    background-size: 400%;
    animation: backgradient 3s ease infinite;
}

    @keyframes backgradient {
   0%{background-position:35% 0%;}
   50%{background-position:66% 100%;}
   100%{background-position:35% 0%;}
}

.navbar-nav .nav-item:nth-child(1) a {
	transition: all .5s ease
}

.navbar-nav .nav-item:nth-child(1):hover a {
	transform: scale(1.1);
	color: black;
	opacity: .5;
}



/*****   Page 2   *****/

#page-2 {
	border: 10px solid rgba(33%, 27%, 27%, .17);
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(33%, 27%, 27%, .2);
	display: none;
}

#page-2 .col-md-5 {
	/*border: 1px solid black;*/
	height: 22vw;
	justify-content: center;
	margin: 1vw;
	font-size: 5vw;
	color: #fff;
	font-family: "Montserrat", sans-serif;
	background-color: rgba(33%, 27%, 27%, .17);
	transition: all .5s ease-in !important;
	cursor: pointer;
	border-radius: 5px;
}

#page-2 .col-md-5:hover {
	background-color: rgba(33%, 27%, 27%, .5);
} 



.page-2-intro {
	display: block!important;
}

.display-none {
	display: none;
}

#page-2 .fa-times-circle {
	color: #fff;
	margin-top: 1vw;
	position: absolute;
}






















